body {

    display: grid;
    place-content: center;
    background: linear-gradient(178deg, #e19090, #f6f28e, #eda8e5, #a8d5ed, #e19090);
    background-size: 800% 800%;
    animation: AnimationName 55s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position: 46% 0%
    }

    50% {
        background-position: 55% 100%
    }

    100% {
        background-position: 46% 0%
    }

}

.tvContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;

}

.tv {
    grid-area: 1/1;
    z-index: 4;
}

.screenOff {
    grid-area: 1/1;
    z-index: 3;
    margin-top: 50px;

}

.player {
    grid-area: 1/1;
    height: 580px;
    width: 650px;
    background-color: rgb(0, 0, 0);
    z-index: 1;

}

.screenGlitch {
    grid-area: 1/1;
    z-index: 2;
    margin-top: 50px;
    
}

.tvButtons {
    grid-area: 1/1;
    z-index: 5;
    
}

button{
   
    background-color: transparent;
    border-color: transparent;
}

.prevButton {
  
    cursor: pointer;
    margin-top: 640px;

}

.nextButton {
    
    cursor: pointer;
    margin-top: 640px;

}

.powerButton {
 
    cursor: pointer;
    margin-top: 640px;
    margin-left: 30px;

}

.footer {
    display: flex;
    place-content: center;
}

@media screen and (max-width:790px) {
    .tv img {

        width: 568px;
        height: 610px;
        }

    .screenOff img {
        width: 480px;
        height: 410px;
    }

    .screenGlitch img {
        z-index: 2;
        width: 480px;
        height: 410px;             
    
    }

    .player {
        width: 535px;
        height: 438px;
        
    }

    .prevButton {
        width: 65px;
        margin-top: 475px;
        margin-left: 10px;
        padding-right: 0;
        
       
    }

    .nextButton {
        width: 65px;
        margin-top: 475px;
        padding-left: 0;
        
    }

    .powerButton {
        margin-top: 475px;
       margin-left: 0;
        width: 60px;
        padding: 0;
        


    }

}

@media screen and (max-width:480px) {

    .tv img {
        width: 358px;
        height: 400px;
        /*width:768px;
    height:810px;*/

    }

    .screenGlitch img {
       
        z-index: 2;
        width: 300px;
        height: 275px;
        
    }    

    .screenOff img {
        width: 300px;
        height: 275px;
    }

    .player {
        width: 335px;
        height: 238px;
   
    }

    .tvButtons {
        grid-area: 1/1;
        display: flex;

    }
    
    .prevButton{
        margin-top: 320px;
        width: 40px;
        height: 30px;
        margin-left: 6px;
    }

    .nextButton {
        margin-top: 320px;
        width: 40px;
        height: 30px;
        margin-left: -10px;
    }

    .powerButton {
        margin-top: 320px;
        width: 40px;
        height: 30px;
        margin-right: 0px;


    }
    


}